.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(253, 193, 213);
    padding: 20px 0px;
    margin: 0;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    background-color: gold;
    margin: 0px 5px;
    padding: 4px 5px 6px;
    border: 1px solid rgb(204, 10, 130);
}

.navbar__item a {
    color: rgb(204, 10, 130);
    font-weight: bold;
    letter-spacing: 1px;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: darkviolet;
    text-decoration: underline;
}