.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    text-align: center;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    color: white;
    background-color: cadetblue;
    margin: 5px;
    padding: 4px 2px 6px;
}

.navbar__item a {
    color: white;
}
